
@import '_setting.scss';

.board-content {
  display: flex;
  height: $board-content-height;
  overflow-x: auto;
  // overflow: hidden;
  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  &::-webkit-scrollbar:horizontal {
    height: 11px;
  }
  &::-webkit-scrollbar-thumb {
    // background-color: darken($list-bg-color, 15);
    background-color: $common-element-bg;
    border-radius: 8px;
  }
  .column-drop-preview {
    background-color: rgba(150, 150, 200, 0.1);
    border: 1px dashed #abc;
    margin: 5px 45px 5px 5px;
  }
  .add-new-column {
    margin-left: $gap;
    background-color: hsla(0, 0%, 100%, .24);
    width: 250px;
    height: 32px;
    line-height: 32px;
    font-style: 15px;
    cursor: pointer;
    // padding:4px 0 4px 15px;
    color: white;
    border-radius: 4px;
    &:hover {
      background-color: hsla(0, 0%, 100%, .34);
    }
  }
  .enter-new-column {
    margin-left: $gap;
    width: 250px;
    max-width: 250px;
    outline: none;
    line-height:32px;
    padding:4px 10px;
    background-color: $column-bg-color;
    border-radius: 4px;
    input.input-enter-new-column{
      margin: 4px 0;
      &:focus {
        border-color:  $input-border-color;
      }
    }
    span.cancel-new-column {
      margin-left: $gap;
      cursor: pointer;
      i {
        font-size: 26px;
        color:rgba(247, 6, 6, .6);
        &:hover {
          color:rgba(247, 6, 6, 1)
      }

      }
    }
  }

}
